.user_list{
    height: 300px;
    overflow-y: scroll;
}

#Input1{
    width: 100%; 
    background-color: aliceblue;
}

.button_controls{
    margin-top: 20px;
}

.list_of_users{
    height : 150px;
    overflow-y :scroll;
}

.uploadImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}